# Local development environment variables
MONGODB_URL=mongodb://<username>:<password>@localhost:27017/?authSource=admin
MONGODB_DB_NAME=propvision

# Pricing API (local)
PRICING_API_BASE_URL=http://localhost:8080

# JWT – change this to a long random string in production
JWT_SECRET_KEY=<jwt_secret>
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=1440
